<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo.WindowsPresentation.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=GEVIL-MAIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>