<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Views.Properties.Settings.BeatlesConnectionString"
            connectionString="Data Source=VISTAPC\SqlExpress;Initial Catalog=Beatles;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Views.Properties.Settings.BeatlesConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Beatles.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>